@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:wght@300;400;700&display=swap");
.body {
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.app {
  background-color: #121212;
  min-height: 100vh;
}
.app .main {
  padding-top: 120px;
}

h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
}

.search__container {
  position: fixed;
  z-index: 10;
  top: 80px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: column;
}
.search__container .search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.search__container .search__input {
  color: white;
  box-shadow: 0 0 10px 5px rgba(231, 155, 33, 0.129);
  border: none;
  border-radius: 50%;
  padding: 0.5rem 0.5rem;
  font-family: inherit;
  outline: none;
  width: 2rem;
  height: 2rem;
  background-color: rgba(46, 35, 8, 0.656);
  transition: border-radius 0.5s ease-in-out, width 0.5s ease-in-out;
}
.search__container .search__input:not(:-moz-placeholder-shown) ~ .search__backspace {
  display: block;
}
.search__container .search__input:not(:-ms-input-placeholder) ~ .search__backspace {
  display: block;
}
.search__container .search__input:not(:placeholder-shown) ~ .search__backspace {
  display: block;
}
.search__container .search__input::-moz-placeholder {
  padding-left: 0px;
  color: white;
}
.search__container .search__input:-ms-input-placeholder {
  padding-left: 0px;
  color: white;
}
.search__container .search__input::placeholder {
  padding-left: 0px;
  color: white;
}
.search__container .search__input.isactive {
  border-radius: 36px;
  width: 85vw;
  padding-left: 35px;
}
.search__container .search__icon {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.search__container .search__icon.isactive {
  left: 10px;
}
.search__container .search__close {
  position: absolute;
  display: none;
  right: 0;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.search__container .search__close.isactive {
  display: block;
  right: -15px;
}
.search__container .search__backspace {
  display: none;
  position: absolute;
  cursor: pointer;
}
.search__container .search__backspace.isactive {
  display: block;
  right: 35px;
}
.search__container .result {
  display: none;
}
.search__container .result.isactive {
  display: flex;
  color: white;
  flex-direction: column;
  text-align: end;
  padding: 1rem 0.5rem 1rem 0;
  background-color: #000000;
}
.search__container .result.isactive li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
  align-items: center;
}

.genre-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  padding: 0 0 15px 0;
}
.genre-list .outer-cards-container {
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
  display: flex;
}
.genre-list .outer-cards-container .cards-container {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 1rem 1.5rem;
}

.logo {
  flex: 5;
  font-family: "Lobster", cursive;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(143, 88, 2);
}

.nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  background-color: #121212;
}
.nav .logo {
  display: flex;
  justify-content: center;
}
.nav .avatar {
  border: 2px solid rgb(231, 154, 33);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  align-self: center;
}

.movie-card {
  font-family: "Merriweather", serif;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #ffbd45;
  border-radius: 9px;
  min-width: 150px;
  height: auto;
  overflow: hidden;
  list-style-type: none;
}
.movie-card img {
  aspect-ratio: 2/3;
  height: 225px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  box-shadow: 0px -40px 60px 0px rgba(255, 255, 255, 0.414);
}
.movie-card h3 {
  color: rgba(235, 230, 225, 0.944);
  font-size: 0.6rem;
  font-size: 700;
}
.movie-card__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.3rem;
}
.movie-card__like-icon svg {
  fill: rgba(235, 230, 225, 0.944);
  fill-opacity: 1px;
}
.movie-card__rating {
  display: flex;
  color: rgba(235, 230, 225, 0.944);
  padding: 0.1rem 0.3rem 0.5rem 0.3rem;
  font-size: 0.7rem;
  align-items: baseline;
}
.movie-card__rating__star-icon svg {
  fill: rgb(234, 223, 14);
  stroke: rgb(234, 223, 14);
  stroke-width: 1px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.modal {
  font-family: "Lato", sans-serif;
  position: absolute;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fb8c00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #121212;
  color: rgba(235, 230, 225, 0.944);
}
.modal img {
  aspect-ratio: 2/3;
}

.top-rated-movie {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  padding: 0 0 15px 0;
}
.top-rated-movie h2 {
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
  color: rgba(235, 230, 225, 0.944);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.5rem;
}
.top-rated-movie .outer-cards-container {
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
  display: flex;
}
.top-rated-movie .outer-cards-container .cards-container {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 1rem 1.5rem;
}

.movie-card {
  font-family: "Merriweather", serif;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #ffbd45;
  border-radius: 9px;
  min-width: 150px;
  height: auto;
  overflow: hidden;
  list-style-type: none;
}
.movie-card img {
  aspect-ratio: 2/3;
  height: 225px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  box-shadow: 0px -40px 60px 0px rgba(255, 255, 255, 0.414);
}
.movie-card h3 {
  color: rgba(235, 230, 225, 0.944);
  font-size: 0.6rem;
  font-size: 700;
}
.movie-card__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.3rem;
}
.movie-card__like-icon svg {
  fill: rgba(235, 230, 225, 0.944);
  fill-opacity: 1px;
}
.movie-card__rating {
  display: flex;
  color: rgba(235, 230, 225, 0.944);
  padding: 0.1rem 0.3rem 0.5rem 0.3rem;
  font-size: 0.7rem;
  align-items: baseline;
}
.movie-card__rating__star-icon svg {
  fill: rgb(234, 223, 14);
  stroke: rgb(234, 223, 14);
  stroke-width: 1px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.modal {
  font-family: "Lato", sans-serif;
  position: absolute;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fb8c00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #121212;
  color: rgba(235, 230, 225, 0.944);
}
.modal img {
  aspect-ratio: 2/3;
}

.last-release {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  padding: 2rem 0;
  margin-bottom: 3rem;
}
.last-release h2 {
  color: white;
  font-size: 1.7rem;
  padding: 1rem 0 1rem 0.5rem;
}

.swiper {
  width: 100vw;
  height: auto;
  font-size: 1.2rem;
}
.swiper .swiper-pagination-bullet {
  color: red;
}

.swiper-slide {
  position: relative;
  height: auto;
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.swiper-slide p {
  padding: 3rem 2rem;
  color: white;
  flex: 1 1 10%;
}
.swiper-slide .not-avaiable-icon {
  flex: 2 1 80%;
}
.swiper-slide h3 {
  position: absolute;
  bottom: 30px;
  right: 25px;
  background-color: black;
  color: white;
}

.swiper-slide img {
  display: block;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=app.css.map */