@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:wght@300;400;700&display=swap");
body {
  font-size: 62.5%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.app {
  background-color: #0b0b0b;
  min-height: 100vh;
}
.app .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 50px;
  background-color: #0b0b0b;
}
.app .header .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}
.app .header .search__container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3.5rem;
}
.app .header .avatar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  border: 2px solid #fb8c00;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  align-self: center;
}
.app .main {
  padding-top: 20px;
}

h1 {
  color: white;
  font-family: "Merriweather", serif;
  font-size: 3rem;
}

.genre-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  padding: 0 0 15px 0;
}
.genre-list h2 {
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
  color: rgba(235, 230, 225, 0.944);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.5rem;
}
.genre-list .outer-cards-container {
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
  display: flex;
}
.genre-list .outer-cards-container .cards-container {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 1rem 1.5rem;
}

.logo {
  flex: 5;
  font-family: "Lobster", cursive;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(143, 88, 2);
}

.nav__links {
  position: fixed;
  background-color: #0b0b0b;
  z-index: 100;
  top: 50px;
  left: -15vw;
  height: calc(100vh - 50px);
  width: 17.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding-top: 25px;
  transition: left 0.25s ease-in;
}
.nav__links.is-active {
  left: -0.5rem;
  transition: left 0.3s ease-in;
}

.search__container {
  align-items: center;
}
.search__container .search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.search__container .search__input {
  color: white;
  box-shadow: 0 0 10px 5px rgba(231, 155, 33, 0.129);
  border: none;
  border-radius: 50%;
  padding: 0.5rem 0.5rem;
  font-family: inherit;
  outline: none;
  width: 2rem;
  height: 2rem;
  background-color: rgba(46, 35, 8, 0.656);
  transition: border-radius 0.5s ease-in-out, width 0.5s ease-in-out;
}
.search__container .search__input:not(:-moz-placeholder-shown) ~ .search__backspace {
  display: block;
}
.search__container .search__input:not(:-ms-input-placeholder) ~ .search__backspace {
  display: block;
}
.search__container .search__input:not(:placeholder-shown) ~ .search__backspace {
  display: block;
}
.search__container .search__input::-moz-placeholder {
  padding-left: 0px;
  color: white;
}
.search__container .search__input:-ms-input-placeholder {
  padding-left: 0px;
  color: white;
}
.search__container .search__input::placeholder {
  padding-left: 0px;
  color: white;
}
.search__container .search__input.isactive {
  border-radius: 36px;
  max-width: 65vw;
  width: 600px;
  padding-left: 35px;
}
.search__container .search__icon {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.search__container .search__icon.isactive {
  left: 10px;
}
.search__container .search__close {
  position: absolute;
  display: none;
  right: 0;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.search__container .search__close.isactive {
  display: block;
  right: -15px;
}
.search__container .search__backspace {
  display: none;
  position: absolute;
  cursor: pointer;
}
.search__container .search__backspace.isactive {
  display: block;
  right: 35px;
}
.search__container .result {
  display: none;
}
.search__container .result.isactive {
  display: flex;
  color: white;
  flex-direction: column;
  text-align: end;
  padding: 1rem 0.5rem 1rem 0;
  background-color: #000000;
}
.search__container .result.isactive li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
  align-items: center;
}

.search--result__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.search--result__wrapper {
  padding-top: 50px;
  height: 90vh;
  width: 90%;
  display: grid;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}
.search--result__wrapper h1 {
  text-align: center;
}

.movie-card {
  font-family: "Merriweather", serif;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #ffbd45;
  border-radius: 9px;
  min-width: 150px;
  height: auto;
  overflow: hidden;
  list-style-type: none;
}
.movie-card img {
  aspect-ratio: 2/3;
  height: auto;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  box-shadow: 0px -40px 60px 0px rgba(255, 255, 255, 0.414);
}
.movie-card h3 {
  color: rgba(235, 230, 225, 0.944);
  font-size: 0.6rem;
  font-size: 700;
}
.movie-card__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.3rem;
}
.movie-card__like-icon svg {
  fill: rgba(235, 230, 225, 0.944);
  fill-opacity: 1px;
}
.movie-card__rating {
  display: flex;
  color: rgba(235, 230, 225, 0.944);
  padding: 0.1rem 0.3rem 0.5rem 0.3rem;
  font-size: 0.7rem;
  align-items: baseline;
}
.movie-card__rating__star-icon svg {
  fill: rgb(234, 223, 14);
  stroke: rgb(234, 223, 14);
  stroke-width: 1px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.modal {
  font-family: "Lato", sans-serif;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  max-width: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fb8c00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0b0b0b;
  color: rgba(235, 230, 225, 0.944);
  padding: 0.7rem;
  line-height: 1.3;
  border-radius: 6px;
}
.modal__close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal img {
  aspect-ratio: 2/3;
  border-radius: 9px;
}
.modal__title {
  font-family: "Merriweather", serif;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
}
.modal__synopsis {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}
.modal__labels {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  width: 100%;
}
.modal__genre {
  flex: 2 1 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  flex-wrap: wrap;
  align-content: center;
}
.modal__genre .genre-name {
  font-size: 0.6rem;
  background-color: #fb8c00;
  color: rgba(235, 230, 225, 0.944);
  font-weight: 700;
  padding: 0.2rem 0.6rem;
  border-radius: 22px;
}
.modal__release--date {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0.5rem;
  display: flex;
  flex: 1 1 25%;
  border-radius: 21px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  background-color: #c25e00;
}
.modal__rating {
  flex: 4 1 50%;
  display: flex;
  justify-content: flex-end;
  color: rgba(235, 230, 225, 0.944);
  padding: 0.1rem 0.3rem 0.5rem 0.3rem;
  font-size: 0.7rem;
  align-items: baseline;
}
.modal__rating__star-icon svg {
  fill: rgb(234, 223, 14);
  stroke: rgb(234, 223, 14);
  stroke-width: 1px;
}

.recommend-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.recommend-card img {
  width: 100%;
}
.recommend-card p {
  position: absolute;
  bottom: 10px;
  padding-left: 5px;
  font-size: 0.6rem;
  color: rgba(235, 230, 225, 0.944);
}

.banner--container {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  padding: 2rem 0;
  margin-bottom: 3rem;
}
.banner--container h2 {
  color: white;
  font-size: 1rem;
  padding: 1rem 0 1rem 0.5rem;
}

.swiper {
  width: 100vw;
  height: auto;
  font-size: 1.2rem;
}
.swiper .swiper-pagination-bullet {
  color: red;
}

.swiper-slide {
  position: relative;
  height: auto;
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.swiper-slide p {
  padding: 3rem 2rem;
  color: white;
  flex: 1 1 10%;
}
.swiper-slide .not-avaiable-icon {
  flex: 2 1 80%;
}
.swiper-slide h3 {
  position: absolute;
  bottom: 30px;
  right: 25px;
  background-color: black;
  color: white;
}

.swiper-slide img {
  display: block;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.horizontal--single-x-card {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  padding: 0 0 15px 0;
}
.horizontal--single-x-card h2 {
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
  color: rgba(235, 230, 225, 0.944);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.5rem;
}
.horizontal--single-x-card .outer-cards-container {
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
  display: flex;
}
.horizontal--single-x-card .outer-cards-container .cards-container {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 1rem 1.5rem;
}

.recommendation--list {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 3rem 1rem;
  height: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.recommendation--list h2 {
  color: white;
}

.recommendation--swiper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
}
.recommendation--swiper .swiper-slide {
  border: 3px solid blue;
  border-radius: 18px;
  align-items: stretch;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=app.css.map */